# __str__

In [12]:
class Conta(object):
    def __init__(self, ID, saldo):
        self.ID = ID 
        self.saldo = saldo
        
    def __str__(self):
        return f'ID: {self.ID}\nSaldo: R$ {self.saldo}'

In [13]:
bradesco = Conta(546, 5000)

In [14]:
print(bradesco)

ID: 546
Saldo: R$ 5000

In [15]:
class Conta2(object):
    def __init__(self, ID, saldo):
        self.ID = ID 
        self.saldo = saldo

In [16]:
itau = Conta2(546, 5000)

In [17]:
print(itau)

<__main__.Conta2 object at 0x00000230927F48D0>

o __str__ é um método que serve para converter o objeto em uma string

-----------------------------------------------------------------
# __add__

In [45]:
class Conta3(object):
    def __init__(self, ID, saldo):
        self.ID = ID 
        self.saldo = saldo
        
    def __str__(self):
        return f'ID: {self.ID}\nSaldo: R$ {self.saldo}'
    
    def __add__(self, other):
        self.saldo += other.saldo
        
    def __sub__(self, other):
        self.saldo -= other.saldo
    
    def __mult__(self, other):
        self.saldo = self.saldo * other.saldo
    
    def __div__(self, other):
        self.saldo = self.saldo / other.saldo

In [46]:
santander = Conta3(123, 5000)

In [47]:
santander.saldo

5000

In [48]:
nubank = Conta3(124, 8000)

In [49]:
santander + nubank

In [50]:
santander.saldo

13000

In [51]:
santander - nubank

In [52]:
santander.saldo

5000

In [53]:
santander * nubank

TypeError: unsupported operand type(s) for *: 'Conta3' and 'Conta3'

o __add__ permite que o valor de duas instâncias sejam somados

o mesmo pode ser aplicado para os métodos __sub__, __mult__, __div__ , realizando a subtração, multiplicação e divisão, respectivamente