In [1]:
nomes = ['Guilherme', 'Marcelo', 'João', 'Júlia']

In [2]:
print(nomes)

['Guilherme', 'Marcelo', 'João', 'Júlia']

In [3]:
for nome in nomes:
    print(nome)

Guilherme
Marcelo
João
Júlia

In [4]:
lista_de_numeros = range(5)
print (list(lista_de_numeros))

[0, 1, 2, 3, 4]

In [5]:
for numero in lista_de_numeros:
    print(numero)

0
1
2
3
4

In [6]:
for value in range(0, 5, 1):
    print(value)

0
1
2
3
4

In [7]:
acm = 0
while acm <= 3:
    print(nomes[acm])
    acm+=1

Guilherme
Marcelo
João
Júlia

# EXERCÍCIO

In [11]:
qtd_pessoas = int(input('Quantidade de pessoas que serão convidados: '))

Quantidade de pessoas que serão convidados: 4

In [13]:
lista = []
for i in range(qtd_pessoas):
    convidado =input('Digite o nome do {} º convidado'.format (i + 1))
    lista.append(convidado)

Digite o nome do 1 º convidado'lucas'
Digite o nome do 2 º convidado'luna'
Digite o nome do 3 º convidado'careem'
Digite o nome do 4 º convidado'paula'

In [14]:
print(lista)

["'lucas'", "'luna'", "'careem'", "'paula'"]